name: Release Slack Notifications

on:
  pull_request:
    types: [opened, synchronize, closed]

jobs:
  slack_notification:
    runs-on: ubuntu-latest
    steps:

      - name: Send Slack notification
        uses: thunkable/slack-release-notifications@v1.0.26-beta
        with:
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          slack-channel-id: 'C05PW7HGP36'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          initial-message-template: ':traffic_light: <${prUrl}|${prTitle}>'
          sort-commits: true