name: Code Coverage

on:
  pull_request:
    branches:
      - main
      - develop

jobs:

   checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js v20.9.0
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'
      - name: Install dependencies
        run: yarn
      - name: Run test coverage
        run: npm run coverage

      - name: Generate Code Coverage report
        id: code-coverage
        uses: barecheck/code-coverage-action@v1
        with:
          barecheck-github-app-token: "$2b$10$Hyl7/LI0yukKiN7O9lzwLeERUffiLMg6QKoL1r.KIyofNHBE1Sfey:50216048"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          lcov-file: "./coverage/lcov.info"
          base-lcov-file: "./lcov.info"
          minimum-ratio: 50
          send-summary-comment: true
          show-annotations: "warning"