name: Comment on Released PRs

on:
  release:
    types: [published]

jobs:
  comment-released-prs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Comment on PRs
        uses: apexskier/github-release-commenter@v1
        if: github.event.release.prerelease == false
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          comment-template: |
            Release {release_link} addresses this.
